$grey_dark: #8c8c8c;
$grey_light: #a6a6a6;
$grey_lightest: #f2f2f2;

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background: #f2f2f2;
}

.app {
  padding: 4rem 2rem;
  .container {
    background: #fff;
    max-width: 300px;
    min-height: 520px;
    margin: auto;
    p {
      margin: 0.2rem 0;
    }
  }
  .site_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 2px solid $grey_light;
    .heading {
      color: $grey_dark;
      font-size: 1.3rem;
    }
  }
  .content {
    text-align: center;
    .city {
      color: $grey_dark;
      margin-bottom: 0.2rem;
    }
    main {
      padding: 1rem 1.5rem;

      .info,
      .data {
        padding: 0.2rem 0;
        color: $grey_light;
      }
      .icon {
        padding: 0;
        color: $grey_light;
        img {
          width: 65px;
        }
      }
      .error {
        color: red;
      }
    }

    footer {
      padding: 2rem 1.5rem;
      border-top: 2px solid $grey_lightest;
      .week_weather {
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        .day_weather {
          margin-right: 1rem;
          text-align: left;
          color: $grey_light;
          padding-bottom: 2rem;

          .icon {
            padding: 1.8rem 0;
            font-size: 1rem;
          }
          .day,
          .degrees,
          .wind {
            margin-right: 3rem;
          }
        }
      }
    }
  }
}
